// Core variables and mixins
@import 'variables';
@import 'mixins';

// Base
@import 'base/base';
@import 'base/selection';

// Components
@import 'components/button';
@import 'components/clients';
@import 'components/faq';
@import 'components/form-input';
@import 'components/icon';

// Gui
@import 'gui/promo-block';
@import 'gui/mockup';
@import 'gui/plan';
@import 'gui/process';
@import 'gui/scroll-to-section';
@import 'gui/team';
@import 'gui/video';

// Layout
@import 'layout/header';
@import 'layout/header-v2';
@import 'layout/footer';

// Vendors
@import 'vendors/back-to-top';
@import 'vendors/cubeportfolio';
@import 'vendors/gmap';
@import 'vendors/swiper';

//Blocks
@import "blocks/navbar";
.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto
}



#js__grid-portfolio-gallery.cbp {
  position: relative !important;
  overflow: visible !important;
}

#js__grid-portfolio-gallery .cbp-item {
  float: left !important;
  min-height: 150px !important;
}